<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Admin
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin') }}">Dash</a></p>
            {# <p><a href="{{ path('admin_rubric_add') }}">Ajouter une rubrique</a></p> #}
        </div>
    </article>
    {# <article class="card mb-3">
        <div class="card-header">
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_product') }}">Liste des produits</a></p>
            {# <p><a href="{{ path('admin_product_add') }}">Ajouter un produit</a></p> #
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_user') }}">Liste des utilisateurs</a></p>
        </div>
    </article> #}
</aside>