{% extends 'base.html.twig' %}

{% block title %}Votre Profile !{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css')}}">

{% endblock %}

{% block body %}

<<<<<<< HEAD
<div class="example-wrapper">
    <h1>Hello {{ profile }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/fabrice/GreenVillage/src/Controller/ProfileController.php'|file_link(0) }}">src/Controller/ProfileController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/fabrice/GreenVillage/templates/profile/index.html.twig'|file_link(0) }}">templates/profile/index.html.twig</a></code></li>
    </ul>
=======
{% use "bootstrap_5_layout.html.twig" %}

{# {% if error %}
	<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %} #}

{% if app.user and app.user.isVerified == false %}


	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		<div class="alert-message">
			<strong>Votre compte n'est pas activé</strong>,
			<a href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a>
		</div>
	</div>
{% endif %}

<div class="container" id="mentions" >
<h1>Heureux de vous Revoir  {{app.user.firstname}} !!!</h1>
{% if app.user and app.user.isVerified == false %}

	<div class="mb-3">
		You are logged in as
		{{ app.user.userIdentifier }},
	</div>
{% endif %}

>>>>>>> 0066c782 (fixtures)
</div>

<div class='container'>
    <div class='row mt-5'>
        <div class='col-sm-8 offset-sm-2'>
        <h1 class='justify-content-center d-flex'>Vos informations</h1>
<table class ='table table-light table-hover mt-5'>
<thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Code Postal</th>
        <th>Ville</th>
    </tr>
</thead>

{% if app.user and app.user.isVerified == false %}
<tbody>
    <tr>
<tbody>
    <tr>
        <td>{{ app.user.lastname }}</td>
        <td>{{ app.user.firstname }}</td>
        <td>{{ app.user.email }}</td>
        <td>{{ app.user.address }}</td>
        <td>{{ app.user.zipcode }}</td>
        <td>{{ app.user.city }}</td>
    </tr>
</tbody>

    </tr>
</tbody>
{% endif %}

</table>
        </div>
    </div>
</div>

<div class="container" id="mentions" >
<h1>Connexion/Inscription</h1>
</div>

{% if app.user and app.user.isVerified == false %}

{% if not app.user %}
	<div class="card  col-3">
		<h3>Connexion</h3>
		<div class="card-body">
			<p>Vous avez deja un compte connectez vous des maintenant !!!</p>
			<a href="{{path ('app_login')}}" class="btn btn-link d-flex justify-content-center" type="button">Se Connecter</a>
		</div>
	</div>

	<div class="card col-3">
		<h3>Inscription</h3>
		<div class="card-body">
			<p>Vous n'avez toujours pas de compte pour en cree un c'est juste ici !!!</p>
			<a href="{{path ('app_register')}}" class="btn btn-link d-flex justify-content-center" type="button">S'inscrire</a>
		</div>
	</div>
{% endif %}

{% if app.user and app.user.isVerified == false %}

    <div class="card col-3">
       
            <div class="card-body">
<h3>Voir vos commandes</h3>

            <p>Pour voir votre profil est vos informations/commande  c'est juste ici !!!</p>
            <a href="{{path ('app_orders_details')}}" class="btn btn-link d-flex justify-content-center" type="button">voir Profil</a>
            </div>
    </div>
</div>
{% endif %}

{% if app.user and app.user.isVerified == false %}

<a href="{{ path('app_logout') }}" class="btn btn-link d-block justify-content-center" type="button">Se deconnecté</a>
    {% endif %}




{% endblock %}
