{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="container-fluid justify-content-center my-5">
    <h1 class="mb-4 text-center">Mon panier</h1>
  
    {# {% if products is empty %}
        <div class="alert alert-info">
            Votre panier est vide.
        </div> #}
    
        <div class="row justify-content-center">
              {# {% for product in products.product %}    #}
                <div class="col-11 w-90 m-3 p4  mb-4">
                      {% for product in products %} 
                    <div class="card w-90">
                      
                            {# Affiche la première image associée au produit
                            <img src="{{ product.images[0].image }}" class="card-img-top" alt="{{ product.label }}">
                            {# {% else %}#}
                            {# <img src="/image/default.png" class="card-img-top" alt="{{ product.label }}">  #} 
                 
                        <div class="card-body">
                         
                            <h3 class="card-title">{{product.product.label }}</h3>
                            <p class="card-text">
                                Référence : {{ product.product.reference }}<br>
                                Quantité : <strong>{{ product.quantity }}</strong>
                            </p>
                            <a href="{{ path('cart_add', {'id': product.product.id}) }}" class="btn btn-sm btn-primary">Ajouter</a>

                        </div>
                        <div class="card-footer">
                            <p class="mb-1">
                                Prix HT : {{ product.product.price }} €
                            </p>
                            
                            <p class="mb-1">
                                
                                Prix TTC : {{ product.priceWithTva }} € </p>
                            <a href="{{ path('cart_remove', {'id': product.product.id}) }}" class="btn btn-sm btn-warning">Retirer</a>
                            <a href="{{ path('cart_allRemove', {'id': product.product.id}) }}" class="btn btn-sm btn-danger">Supprimer l'article</a>
                        </div>
                        
                    </div>
                   
                </div>
           
        </div>

        <div class="container-fluid m-6 p-4 position-relative d-block mb-4">
        <div class="row d-flex justify-content-end mr-4 mt-2">
            <div class=" col-lg-4 col-md-6 col-sm-8 d-block">
                <div class="alert alert-secondary position-relative justify-content-end">
                <div class="text-left position-absolute mb-3 mr-2">
                    <strong>Total HT :</strong> {{ total }} € <br>
                    <strong>Total TVA :</strong> {{ totalTaxes }} €
               </div>
           
           <div class="text-right">
                <a href="{{ path('orders_index') }}" class="btn btn-success btn-md">Valider commande</a>
           </div>
        </div>
             {% endfor %} 
            </div>
        </div> 
     </div>
     {# {% endfor %}    #}
            
        
        {# {% endif %} #}
</div>
{% endblock %}