{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4 text-center">Mon panier</h1>

    {# {% if products is empty %}
        <div class="alert alert-info">
            Votre panier est vide.
        </div>
    {% else %} #}
        <div class="row">
            {% for product in products %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                      
                            {# Affiche la première image associée au produit #}
                            <img src="/image[0].image" class="card-img-top" alt="{{ product.label }}">
                        {# {% else %}#}
                            <img src="/image/default.png" class="card-img-top" alt="{{ product.label }}"> 
                      
                        <div class="card-body">
                            <h5 class="card-title">{{product.label }}</h5>
                            <p class="card-text">
                                Référence : {{ product.reference }}<br>
                                Quantité : <strong>{{ product.quantity }}</strong>
                            </p>
                        </div>
                        <div class="card-footer">
                            <p class="mb-1">
                                Prix unitaire (HT) : {{ product.price }} €
                            </p>
                            <p class="mb-1">
                                Prix TTC : {{ priceWithTax }} €
                            </p>
                            <a href="{{ path('cart_app_remove', {'id': product.id}) }}" class="btn btn-sm btn-danger">Retirer</a>
                            <a href="{{ path('cart_app_allRemove', {'id': product.id}) }}" class="btn btn-sm btn-warning">Supprimer l'article</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="alert alert-secondary">
                    <strong>Total HT :</strong> {{ total }} € <br>
                    <strong>Total TVA :</strong> {{ totalTaxes }} €
                </div>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="{{ path('orders_index') }}" class="btn btn-success btn-lg">Passer commande</a>
            </div>
        </div>
    {# {% endif %} #}
</div>
{% endblock %}