{# {% extends 'base.html.twig' %}

{% block title %}
Village Green | Accueil
{% endblock %}

{% block body %}
{% block stylesheets %}
{#
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<style>
	/*.item .cards {
		justify-content: center;
		align-items: center;
		
		border-radius: 15px;
		cursor: pointer;
		background-color: transparent;
		position: relative;
	
	}


	.container-carousel {
		perspective: 1200px;
		position: relative;
		width: 300px;
		height: 300px;
		margin: 0 auto;
		transform-origin: center center;
		transform-style: preserve-3d;
		transition: transform 1.5s;
	}

	.carousel {
		width: 100%;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transition: transform 1s ease-in-out;
	}


	.item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	button.prev,
	button.next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		border: none;
		padding: 10px;
		cursor: pointer;
	}

	button.prev {
		left: -250px;
	}

	button.next {
		right: -350px;
	}

	.item h2 {
		z-index: 1;
		position: absolute;
		justify-content: center;
		color: #ebd7b5;
		font-size: 4vh;
		text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.9);
		font-weight: 700;
		overflow: hidden;
		margin-left: 30px;
z-index: 9;


	}

	h5 {
		color: rgb(154, 146, 77);
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 18px;
		text-shadow: 4px solid #FFF;
		font-weight: 600;

	}

	.next,
	.prev {
		color: #444;
		position: absolute;
		top: 1300px;
		padding-bottom: 15px;

		padding: 0.5em 2em;
		cursor: pointer;
		background: #a5969662;
		max-height: 40px;
		border-radius: 5px;
		border-top: 1px solid #FFF;
		box-shadow: -1px 3px 0 #999;
		transition: box-shadow 0.1s, top 0.1s;
	}

	.next:hover,
	.prev:hover {
		color: #000;
		top: 1300px;
	}

	.next:active,
	.prev:active {
		top: 1300px;
		box-shadow: 1px 0 3px 1px #88a9b6;

	}

	.next {
		right: 5.1em;
	}

	.prev {
		left: 5em;
	}

	.rubric-button {
		background-color: #46484ad2;
		color: #fff;
		font-size: 16px;
		padding: none;
		margin: 10px 0px;
		border-radius: 5px;
		transition: background-color 0.3s ease;
		cursor: pointer;
		width: 25%;
	}
	
	.rubric-button:hover {
		background-color: #2779bd;
	}
	
	.card.rub {
		max-width:90%;
	}
	.rubric-nav {
		width: auto;
		margin-left: 25px;
	}
	@media (max-width: 768px) {
		.container-carousel {
			width: 220px;
			height: 250px;
			padding: auto center;
			margin-top: 15px;
			margin-bottom: 300px;
			position: relative;
			perspective: 200;
			transform-style: preserve-3d;
			transition: transform 1.5s;
			justify-content: center;
			justify-items: center;
			align-items: center;
		}

		.item {
			display: block;
			position: absolute;
			width: 200px;
			height: 250px;
			justify-content: center;
			align-items: center;
			opacity: 0.95;
			border-radius: 10px;
			justify-items: center;

		}

		.item .cards {
			justify-content: center;
			align-items: center;

			border-radius: 15px;
			cursor: pointer;
			background-color: transparent;

		}

		.item img {

			height: 100%;
			width: 100%;
		}

		.item h2 {
			height: 100px;
			width: 100px;
			font-size: 3.8vw;
			text-shadow: -1px -1px 9px rgba(0, 0, 0, 0.9);
			font-weight: 750;
			color: #ebd7b5;
			align-items: center;
			margin-left: 25px;
		}

		h5 {
			font-size: 2.6vw;
			text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25);
			font-weight: 550;
			margin: 0 auto;
		}

		.next,
		.prev {
			top: 1250px;
			position: absolute;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;
			margin: 0 auto;
			padding: 0.6em 1.3em;


		}

		.next:hover,
		.prev:hover {
			color: #000;
			top: 1250px;
			padding: 0.5em 2em;

			height: 4vh;
			width: 18vw;


		}

		.next:active,
		.prev:active {
			top: 1250px;
			padding: 0.5em 2em;

			height: 4vh;
			width: 18vw;
			box-shadow: 0 0 0 1px #999;


		}
	}

	@media (max-width: 480px),
	(min-width: 479px) {
		.container-carousel {
			width: 125px;
			height: 200px;
			padding: 5px 0;
			margin: 0 auto;
			perspective: 500;
			top: 250px;
			margin-bottom: 300px;
			margin-left: none;
			margin-right: none;
			position: relative;
			transform-style: preserve-3d;
			transition: transform 1.5s;
			justify-content: center;
		}

		.item {
			display: block;
			position: absolute;
			width: 125px;
			height: 200px;
			overflow: hidden;

			opacity: 0.95;
			border-radius: 10px;
		}

		.item .cards {
			justify-content: center;
			align-items: center;

			border-radius: 15px;
			cursor: pointer;
			background-color: transparent;



		}

		.item img {
			height: 100%;
			width: 100%;
		}

		.item h2 {
			font-size: 4.5vw;
			text-shadow: -1px -1px 9px rgba(0, 0, 0, 0.9);
			font-weight: 750;
		}

		.next,
		.prev h5 {

			font-size: 2vw;
			text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
			font-weight: 750;
		}

		.next,
		.prev {
			margin: auto;
			top: 65%;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;
			justify-content: center;

		}

		.next:hover,
		.prev:hover {
			padding: 0 2px;

			color: #000;
			top: 65%;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;

		}

		.next:active,
		.prev:active {
			padding: 0 2px;

			top: 65%;
			height: 4vh;
			width: 18vw;
			box-shadow: 0 0 1px 1px #999;
			margin-bottom: 50px;

		}
	}

	/*	#plats-container {
			transition: opacity 0.5s 	tease-in-out;		
			opacity: 0;			
			max-height: 0;
		}
		
		.container-plats {
		flex-direction: row;
		height: 30vh;
		  margin: 15px;
		  display: flex;
		  
		}
		
		#plats-container.show {
			opacity: 1;
			min-height: 1000px;
			overflow: hidden;
		
				}
		
		a {
		color: rgba(255, 255, 255, 1.45);
		text-decoration: none;
		text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.45);
		}
		
		a:hover {
		  color: rgba(255, 255, 255, 3);
				}
		#plats-container.show .card {
		
			border-image: linear-gradient(#000000, #4d9f0c) 30;
			transition: transform 0.5s ease;
			cursor: pointer;
			background-color: transparent;
			border: none; 
		}
		
		.img-card {
		  height: 20vh;
		  width: 25vw;
		
		} #
		
		
		/* .button {
		  display: flex;
		  justify-content: center;
		}
		
		.btn-link {
		  background-color: transparent;
		  border: 2px solid white;
		  color: white;
		  cursor: pointer;
		  text-decoration: none;
		  text-align: center;
		  text-transform: uppercase;
		
		}
		
		
		.btn-link:hover {
		  color: black;
		  background-color: white;
		}
		
		
		
		
		.description {
		  border: 2px solid rgb(179, 166, 166);
		  border-radius: 4px;
		}  */
</style>
{% endblock %}
{# <div>
	<div class="bg"></div>
	<div class="bg bg2"></div>
	<div class="bg bg3"></div>
	<div class="content"><img class="content" src="image/logo.png"></div>


</div> #

<main class="main ">
	<section>
		<h1>

			<script src='js/slogan.js'></script>
		</h1>
	</section>

	<div class="container-fluid mx-auto p-0 m-0">
		<div class="row-cols-sm-2 offset-sm-0">
			{% set rubric_images = {
			'vent': '/image/rubric/rubric(2).jpg',
			'percussions': '/image/rubric/rubric(3).jpg',
			'cordes': '/image/rubric/rubric(1).jpg',
			'electronique': '/image/rubric/rubric(4).jpg'
			} %}

			<ul class="accordion-group" id="accordion">
				{% for rubric in rubrics %}
				{{ rubric.slug }}
				<li>

					<a href="#" class="" data-parent-id="{{ rubric.slug }}">
						<h2>
							{{ rubric.label }}
							<img src="{{ rubric_images[rubric.slug] }}" alt="Instruments {{ rubric.label }}"
								class="cards">	
			{% set rubric_images = {
			'vent': '/image/rubric/rubric(2).jpg',
			'percussions': '/image/rubric/rubric(3).jpg',
			'cordes': '/image/rubric/rubric(1).jpg',
			'electronique': '/image/rubric/rubric(4).jpg'
			} %}

			<ul class="accordion-group" id="accordion">
				{% for rubric in rubrics %}
				{{ rubric.slug }}
				<li>

					<a href="#" class="" data-parent-id="{{ rubric.slug }}">
						<h2>
							{{ rubric.label }}
							<img src="{{ rubric_images[rubric.slug] }}" alt="Instruments {{ rubric.label }}"
								class="cards">
						</h2>

					</a>

				</li>
				{% endfor %}
			</ul>

		</div>
	</div>


	{# <div class="accordion-overlay cards">
		<li>
			{% for rubric in rubrics %}

			<a>
				<h2>{{ rubric.label}}</h2>
				<img src="{{ asset('image/rubric/') }}">




			</a>


		</li>#}



		{# <button class="btn-primary p-1">Plats</button> #}









		{# <section>
			<h2>Nos rubriques</h2>

			<div id="plats-container" class="container-plats position-relative">
				<div class="mb-3 d-block">

					<div class="col-12 col-md-6 p-3 mb-4 d-flex justify-content-center">


						<ul>
							{% for rubric in rubrics %}
							<li>
								<a href="#">
									{{ rubric.label}}
								</a>
							</li>
							{% else %}
							<li>Aucune rubrique trouvée.</li>
							{% endfor %}
						</ul>
		</section> #}




		{# <img src="{{ asset(plat.image) }}" style=" object-fit: cover;"> #}


		{# <h5 class="card-title">{{ plat.libelle }}</h5>
		<p class="card-text">{{ plat.description }}</p> #}

		{#
	</div>
	</div>
	</div> #}

	{# <div class="container-fluid mx-auto mt-12 p-6 bg-gray-100 shadow-lg rounded-xl">
		<h1 class="text-4xl font-bold text-gray-800 text-center mb-8">Rubriques</h1>
		<div class="card-wrapper justify-content-center  d-flex text-center mb-2">
			<div class="card-container">
				{% for rubric in rubrics %}
				<div
					class="cards rubric-nav justify-content-center bg-blue-200 text-white font-bold py-2 d m-4('{{ rubric.id }}')">
				</div>
				{# onclick="showSubrubrics
				<li>
					<a>
						<h2>{{ rubric.label}}</h2>
					</a>
				</li>


				{# <img class="card-img-top" src="holder.js/100px180/" alt="">
				<div class="card-body">
					<h4 class="card-title">Title</h4>
					<p class="card-text">Text</p>
				</div>

			</div>
			{% if rubric.image %}
			<img src="{{ rubric.image }}" alt="{{ rubric.label }}" class=" mx-auto justify-content-center h-32  mt-3">
			{% endif %}
		</div>
		{% endfor %}
	</div>
	</div> #}


{% extends 'base.html.twig' %}

{% block title %}
Village Green | Accueil
{% endblock %}

{% block body %}
{% block stylesheets %}
<style>
	/*section .section {
		max-height: 400px;
		width: 100%;
		min-width: 100vw;
		margin: 0px auto;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}*/

   div {
		display: flex;
  }

	.shutter-column {
		height: auto;
		width: 25vw;
		position: relative;
		background: #2b2929;
		overflow-x: hidden;
		overflow-y: hidden;
		transition: all 500ms;
		flex-direction: row;
	}

	.on-click {
		cursor: pointer;
	}

	.back-img {
		width: 600px;
		max-width: 25vw;
		height: 400px;
		margin: 0 auto;
	}

	.top-shutter,
	.bottom-shutter {
		position: absolute;
		top: 0;
		height: 50%;
		width: 100%;
		display: flex;
		justify-content: center;
		background: rgba(218, 216, 216, 0.76);
		transition: all 1s;
		mix-blend-mode: screen;
		text-align: center;
		font-size: clamp(60px, 20vw, 80px);
		font-weight: 700;
		line-height: 0em;
		color: #000;
		
	}

	.top-shutter {
		align-items: flex-end;
		transform-origin: 50% 0%;
		transform: translateY(-100%);
	}

	.bottom-shutter {
		top: 50%;
		align-items: flex-start;
		transform-origin: 50% 100%;
		transform: translateY(100%);
	}

	.shutter-column.two:hover {
		transform: scale(1.03);
		}

	.divi-transform-none .top-shutter,
	.divi-transform-none .bottom-shutter {
		transform: none;
	}

	.image-container {
		display: flex;
		flex-direction: row; /* Active le mode flexbox */
	 /* 	gap: 1px;Espace entre les images */
	/*	justify-content: center; 
		align-items: center; */
	}
		/*.item .cards {
		justify-content: center;
		align-items: center;
		
		border-radius: 15px;
		cursor: pointer;
		background-color: transparent;
		position: relative;
	
	} */


	/*.container-carousel {
		perspective: 1200px;
		position: relative;
		width: 300px;
		height: 300px;
		margin: 0 auto;
		transform-origin: center center;
		transform-style: preserve-3d;
		transition: transform 1.5s;
	}

	.carousel {
		width: 100%;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transition: transform 1s ease-in-out;
	}*/

	#contentContainer {
		display: flex;
		justify-content: center; /* Centre horizontalement */
		align-items: center; /* Centre verticalement */
		height: 50vh; /* Ajuste à la hauteur de l'écran */
		overflow: hidden;
		width: 100vw;
		transform-style: preserve-3d;
		perspective: 600px;

		
	}
	
	#carouselContainer {
		position: relative;
		width: 80%;
		/*max-width: 800px;  Ajuste selon la taille souhaitée */
		height: 400px; /* Ajuste selon le besoin */
		display: flex;
		justify-content: center; /* Centre horizontalement */
		align-items: center; /* Centre verticalement */
		transform-style: preserve-3d;
	}
	
	.container-carousel {
		position: relative;
		width: 80vw;
		display: flex;
		justify-content: center;
		align-items: center;
		transform-style: preserve-3d;
		perspective: 900px;

	}
	
	#carouselItem {
		position: absolute;
		width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform-style: preserve-3d;

	}

	.container-carousel .item {
		width: 100px;
		height: 200px;
		justify-content: center;
		align-items: center bottom;
	}
	
	.carouselItem {
		position: absolute;
		width: 100px; /* Ajuste selon la taille des items */
		height: 200px; /* Ajuste selon la taille des items */
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 10px;
		transition: transform 0.5s ease-in-out;
		transform-style: preserve-3d;
		
	}

	.carouselItem img {
		width: 80%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	button.prev,
	button.next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		border: none;
		padding: 10px;
		cursor: pointer;
	}

	button.prev {
		left: -250px;
	}

	button.next {
		right: -350px;
	}

	#carouselItem h2 {
		z-index: 9;
		position: absolute;
		justify-content: center;
		color: rgb(161, 152, 64);
		font-size: 2vw;
		text-shadow: -1px -1px 7px rgba(0, 0, 0, 0.644);
		font-weight: 400;
		overflow: hidden;
		text-transform: uppercase;
		writing-mode: vertical-rl;
	}

	#carouselItem p {
		font-size: 0.3vw;
		color: rgba(21, 22, 22, 0.89);
		align-content: center;
		
	}

	h5 {
		color: rgb(154, 146, 77);
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 18px;
		text-shadow: 4px solid #FFF;
		font-weight: 600;

	}

	.next,
	.prev {
		color: #444;
		position: absolute;
		top: 1300px;
		padding-bottom: 15px;

		padding: 0.5em 2em;
		cursor: pointer;
		background: #a5969662;
		max-height: 40px;
		border-radius: 5px;
		border-top: 1px solid #FFF;
		box-shadow: -1px 3px 0 #999;
		transition: box-shadow 0.1s, top 0.1s;
	}

	.next:hover,
	.prev:hover {
		color: #000;
		top: 1300px;
	}

	.next:active,
	.prev:active {
		top: 1300px;
		box-shadow: 1px 0 3px 1px #88a9b6;

	}

	.next {
		right: 5.1em;
	}

	.prev {
		left: 5em;
	}


	@media (max-width: 768px) {
		.container-carousel {
			width: 220px;
			height: 250px;
			padding: auto center;
			margin-top: 15px;
			margin-bottom: 300px;
			position: relative;
			perspective: 200;
			transform-style: preserve-3d;
			transition: transform 1.5s;
			justify-content: center;
			justify-items: center;
			align-items: center;
		}

		.item {
			display: block;
			position: absolute;
			width: 200px;
			height: 250px;
			justify-content: center;
			align-items: center;
			opacity: 0.95;
			border-radius: 10px;
			justify-items: center;

		}

		.item .cards {
			justify-content: center;
			align-items: center;

			border-radius: 15px;
			cursor: pointer;
			background-color: transparent;

		}

		.item img {

			height: 100%;
			width: 100%;
		}

		.item h2 {
			height: 100px;
			width: 100px;
			font-size: 3.8vw;
			text-shadow: -1px -1px 9px rgba(0, 0, 0, 0.9);
			font-weight: 750;
			color: #ebd7b5;
			align-items: center;
			margin-left: 25px;
		}

		h5 {
			font-size: 2.6vw;
			text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25);
			font-weight: 550;
			margin: 0 auto;
		}

		.next,
		.prev {
			top: 1250px;
			position: absolute;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;
			margin: 0 auto;
			padding: 0.6em 1.3em;


		}

		.next:hover,
		.prev:hover {
			color: #000;
			top: 1250px;
			padding: 0.5em 2em;

			height: 4vh;
			width: 18vw;


		}

		.next:active,
		.prev:active {
			top: 1250px;
			padding: 0.5em 2em;

			height: 4vh;
			width: 18vw;
			box-shadow: 0 0 0 1px #999;


		}
	}

	@media (max-width: 480px),
	(min-width: 479px) {
		.container-carousel {
			width: 125px;
			height: 200px;
			padding: 5px 0;
			margin: 0 auto;
			perspective: 500;
			top: 250px;
			margin-bottom: 300px;
			margin-left: none;
			margin-right: none;
			position: relative;
			transform-style: preserve-3d;
			transition: transform 1.5s;
			justify-content: center;
		}

		.item {
			display: block;
			position: absolute;
			width: 125px;
			height: 200px;
			overflow: hidden;

			opacity: 0.95;
			border-radius: 10px;
		}

		.item .cards {
			justify-content: center;
			align-items: center;

			border-radius: 15px;
			cursor: pointer;
			background-color: transparent;



		}

		.item img {
			height: 100%;
			width: 100%;
		}

		.item h2 {
			font-size: 4.5vw;
			text-shadow: -1px -1px 9px rgba(0, 0, 0, 0.9);
			font-weight: 750;
		}

		.next,
		.prev h5 {

			font-size: 2vw;
			text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
			font-weight: 750;
		}

		.next,
		.prev {
			margin: auto;
			top: 65%;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;
			justify-content: center;

		}

		.next:hover,
		.prev:hover {
			padding: 0 2px;

			color: #000;
			top: 65%;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;

		}

		.next:active,
		.prev:active {
			padding: 0 2px;

			top: 65%;
			height: 4vh;
			width: 18vw;
			box-shadow: 0 0 1px 1px #999;
			margin-bottom: 50px;

		}
	}
</style>
{% endblock %}


<main class="main">
	<section>
		<h1>

			<script src='js/slogan.js'></script>
		</h1>
	</section>
	


				{% set rubric_images = {
					'vent': '/image/rubric/rubric(2).jpg',
					'percus': '/image/rubric/rubric(3).jpg',
					'cordes': '/image/rubric/rubric(1).jpg',
					'electro': '/image/rubric/rubric(4).jpg'
					} %}
					<div class="container-xxl d-flex w-100 mx-auto p-0 ml--1">
						<div class="row-cols-sm-2 d-flex offset-0 p-0 ml-0"> 
				
							
				{% for rubric in rubrics %}
				
				<div class="shutter-column on-hover divi-transform-none">
					{# <div class="image-container img-back position-relative  d-flex"> #}
					<img src="{{ rubric_images[rubric.slug] }}" alt="" class="back-img ">
				{# </div> #}
				<div class="top-shutter">
						{{ rubric.slug }}
					</div>
					<div class="bottom-shutter">
						{{ rubric.slug }}
					</div>
				</div>
				
				{% endfor %}
			</div>
		</div>
{# 
			<aside class="social-sidebar">
		<a href="https://www.facebook.com" target="_blank" class="social-btn facebook" aria-label="Facebook">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="https://www.twitter.com" target="_blank" class="social-btn twitter" aria-label="Twitter">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="https://www.instagram.com" target="_blank" class="social-btn instagram" aria-label="Instagram">
			<i class="fab fa-instagram"></i>
		</a>
		<a href="https://www.linkedin.com" target="_blank" class="social-btn linkedin" aria-label="LinkedIn">
			<i class="fab fa-linkedin-in"></i>
		</a>
	</aside> #}
	

<div id="contentContainer" class="trans3d">
 <section id="carouselContainer " class="trans3d">
   <div class="container container-carousel">
	{% for rubric in rubrics %}
	
    {% set subrubrics = rubric.getRubrics() %}

   	<div id="carouselItem" class="carousel">
  
		{% for subrubric in subrubrics %}
   

        {% if subrubrics is not empty %}
		{% set total_subrubrics = subrubrics|length %}
		{% set angle = loop.index0 * (360 / total_subrubrics) %}
               <div class="item cards carouselItem" data-parent-id="{{ rubric.id }}"
				style= "transform: rotateY('{{ angle }}deg) translateZ(100px);')">                    
				<a href="{{ path('app_products_by_rubric', {'slug': subrubric.slug}) }}">
                        <h2 class="item">{{ subrubric.slug }}</h2>
                        {# {% if subrubric.image %}
                            <img src="{{ subrubric.image }}" alt="{{ subrubric.label }}" style="object-fit: cover;">
                        {% endif %} #}
                        <p class="top-100">{{ subrubric.description }}</p>
                    </a>
                </div>
			     {% endif %}
		
				  
     	{% endfor %}
     </div>

		 	
{% endfor %}
 </div>
<div class="next">
	<h5>Suivant</h5>
</div>
<div class="prev">
	<h5>Précédent</h5>
  </div>

</section>
</div>
</main>	
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

	<script>
		(function ($) {
			$(document).ready(function () {
				$(document).on("mouseenter", ".shutter-column.on-hover", function () {
					$(this).removeClass("divi-transform-none");
					console.log("Ajout de la classe");
					setTimeout(() => {
						$(this).addClass("divi-transform-none");
						console.log("Suppression de la classe");
					}, 5000) // 1 seconde
				});
			});
		})(jQuery);
	</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function showSubrubrics(rubricId) {
const allItems = document.querySelectorAll('.carouselItem');
const selectedItems = document.querySelectorAll(`.carouselItem[data-parent-id="${rubricId}"]`);

// Cacher tous les éléments
allItems.forEach(item => item.style.display = 'none');

// Afficher uniquement les sous-rubriques associées
selectedItems.forEach(item => item.style.display = 'block');


currdeg = 0;
gsap.to(".carousel", {
duration: 1,
rotationY: currdeg,
ease: "expo.inOut"
});
}

var w,
container,
carousel,
item,
itemLength,
rY,
radius;
var rotationY = 0;

$(document).ready(init);

function init() {
w = $(window);
container = $('#contentContainer');
carousel = $('#carouselContainer');
item = $('.carouselItem');

itemLength = item.length;
rY = 360 / itemLength;
radius = Math.round((170) / Math.tan(Math.PI / itemLength));

// set container 3d props
itemLength = item.length;
rY = 360 / itemLength;
radius = Math.round((container.width() / 8) / Math.tan(Math.PI / itemLength));

// set container 3d props

gsap.set(container, {perspective: 2000});
gsap.set(carousel, {z: -(radius), transformOrigin: "center center " + -radius + "px"});



// create carousel item props
item.each(function (i) {
var $item = $(this);
gsap.set($item, {
rotationY: rY * i,
z: radius,
transformOrigin: "50% 50% " + - radius + "px"
});
});

// Initial animation
gsap.fromTo(item, {
autoAlpha: 0,
scale: 0
}, {
duration: 1,
autoAlpha: 1,
scale: 1,
stagger: 0,
ease: "expo.inOut"
});
}



// Rotation functions
var currdeg = 0;

$(".next").on("click", {
d: "n"
}, rotate);
$(".prev").on("click", {
d: "p"
}, rotate);

function rotate(e) {
if (e.data.d == "n") {
currdeg = currdeg + rY;
}
if (e.data.d == "p") {
currdeg = currdeg - rY;
}
gsap.to(".carousel", {
duration: 1,
rotationY: currdeg,
ease: "expo.inOut"
});
}
</script> 
 {% endblock %}
 {% endblock %} 
{# /*{ block body %}
<main class="main">

	<section>
		<h2>Nos rubriques</h2>
		<ul>
			{% for rubric in rubrics %}
			<li>
				<a href="{{ path('rubric_rubrics', { id: rubric.id }) }}">
					{{ rubric.label}}
				</a>
			</li>
			{% else %}
			<li>Aucune rubrique trouvée.</li>
			{% endfor %}
		</ul>
	</section>

	<div>
		<div class="h-64 m-2 rounded-xl shadow-xl ">
			<img class="hidden lg:flex w-full h-full object-cover rounded-xl"
				src="{{ asset('images/hands-1851426_1920.webp') }}" alt="Mains jouant d'un instrument de musique" />
			<h1 class="text-4xl  font-serif text-black flex justify-center mb-4">
				Bienvenue sur notre site E-commerce
			</h1>
		</div>
		<div id="root"></div>
	</div>
</main>


{% endblock %} #}