{% extends 'base.html.twig' %}

{% block title %}
	Village Green | Accueil
{% endblock %}

{% block body %}
{% block stylesheets %}
{# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> #}

<style>





	/*.item .cards {
		justify-content: center;
		align-items: center;
		
		border-radius: 15px;
		cursor: pointer;
		background-color: transparent;
		position: relative;
	
	}*/


	.container-carousel {
		perspective: 1200px;
		position: relative;
		width: 300px;
		height: 300px;
		margin: 0 auto;
		transform-origin: center center;
		transform-style: preserve-3d;
		transition: transform 1.5s;
	}

	.carousel {
		width: 100%;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transition: transform 1s ease-in-out;
	}


	.item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	button.prev,
	button.next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		border: none;
		padding: 10px;
		cursor: pointer;
	}

	button.prev {
		left: -250px;
	}

	button.next {
		right: -350px;
	}

	.item h2 {
		z-index: 1;
		position: absolute;
		justify-content: center;
		color: #ebd7b5;
		font-size: 4vh;
		text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.9);
		font-weight: 700;
		overflow: hidden;
		margin-left: 30px;



	}

	h5 {
		color: rgb(154, 146, 77);
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 18px;
		text-shadow: 4px solid #FFF;
		font-weight: 600;

	}

	.next,
	.prev {
		color: #444;
		position: absolute;
		top: 1300px;
		padding-bottom: 15px;

		padding: 0.5em 2em;
		cursor: pointer;
		background: #a5969662;
		max-height: 40px;
		border-radius: 5px;
		border-top: 1px solid #FFF;
		box-shadow: -1px 3px 0 #999;
		transition: box-shadow 0.1s, top 0.1s;
	}

	.next:hover,
	.prev:hover {
		color: #000;
		top: 1300px;
	}

	.next:active,
	.prev:active {
		top: 1300px;
		box-shadow: 1px 0 3px 1px #88a9b6;

	}

	.next {
		right: 5.1em;
	}

	.prev {
		left: 5em;
	}

	.rubric-button {
		background-color: #46484ad2;
		color: #fff;
		font-size: 16px;
		padding: none;
		margin: 10px 0px;
		border-radius: 5px;
		transition: background-color 0.3s ease;
		cursor: pointer;
		width: 25%;
	}
	
	.rubric-button:hover {
		background-color: #2779bd;
	}
	
	.card.rub {
		max-width:90%;
	}
	.rubric-nav {
		width: auto;
		margin-left: 25px;
	}
	@media (max-width: 768px) {
		.container-carousel {
			width: 220px;
			height: 250px;
			padding: auto center;
			margin-top: 15px;
			margin-bottom: 300px;
			position: relative;
			perspective: 200;
			transform-style: preserve-3d;
			transition: transform 1.5s;
			justify-content: center;
			justify-items: center;
			align-items: center;
		}

		.item {
			display: block;
			position: absolute;
			width: 200px;
			height: 250px;
			justify-content: center;
			align-items: center;
			opacity: 0.95;
			border-radius: 10px;
			justify-items: center;

		}

		.item .cards {
			justify-content: center;
			align-items: center;

			border-radius: 15px;
			cursor: pointer;
			background-color: transparent;

		}

		.item img {

			height: 100%;
			width: 100%;
		}

		.item h2 {
			height: 100px;
			width: 100px;
			font-size: 3.8vw;
			text-shadow: -1px -1px 9px rgba(0, 0, 0, 0.9);
			font-weight: 750;
			color: #ebd7b5;
			align-items: center;
			margin-left: 25px;
		}

		h5 {
			font-size: 2.6vw;
			text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25);
			font-weight: 550;
			margin: 0 auto;
		}

		.next,
		.prev {
			top: 1250px;
			position: absolute;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;
			margin: 0 auto;
			padding: 0.6em 1.3em;


		}

		.next:hover,
		.prev:hover {
			color: #000;
			top: 1250px;
			padding: 0.5em 2em;

			height: 4vh;
			width: 18vw;


		}

		.next:active,
		.prev:active {
			top: 1250px;
			padding: 0.5em 2em;

			height: 4vh;
			width: 18vw;
			box-shadow: 0 0 0 1px #999;


		}
	}

	@media (max-width: 480px),
	(min-width: 479px) {
		.container-carousel {
			width: 125px;
			height: 200px;
			padding: 5px 0;
			margin: 0 auto;
			perspective: 500;
			top: 250px;
			margin-bottom: 300px;
			margin-left: none;
			margin-right: none;
			position: relative;
			transform-style: preserve-3d;
			transition: transform 1.5s;
			justify-content: center;
		}

		.item {
			display: block;
			position: absolute;
			width: 125px;
			height: 200px;
			overflow: hidden;

			opacity: 0.95;
			border-radius: 10px;
		}

		.item .cards {
			justify-content: center;
			align-items: center;

			border-radius: 15px;
			cursor: pointer;
			background-color: transparent;



		}

		.item img {
			height: 100%;
			width: 100%;
		}

		.item h2 {
			font-size: 4.5vw;
			text-shadow: -1px -1px 9px rgba(0, 0, 0, 0.9);
			font-weight: 750;
		}

		.next,
		.prev h5 {

			font-size: 2vw;
			text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
			font-weight: 750;
		}

		.next,
		.prev {
			margin: auto;
			top: 65%;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;
			justify-content: center;

		}

		.next:hover,
		.prev:hover {
			padding: 0 2px;

			color: #000;
			top: 65%;
			height: 4vh;
			width: 18vw;
			margin-bottom: 50px;

		}

		.next:active,
		.prev:active {
			padding: 0 2px;

			top: 65%;
			height: 4vh;
			width: 18vw;
			box-shadow: 0 0 1px 1px #999;
			margin-bottom: 50px;

		}
	}

	/*	#plats-container {
			transition: opacity 0.5s 	tease-in-out;		
			opacity: 0;			
			max-height: 0;
		}
		
		.container-plats {
		flex-direction: row;
		height: 30vh;
		  margin: 15px;
		  display: flex;
		  
		}
		
		#plats-container.show {
			opacity: 1;
			min-height: 1000px;
			overflow: hidden;
		
				}
		
		a {
		color: rgba(255, 255, 255, 1.45);
		text-decoration: none;
		text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.45);
		}
		
		a:hover {
		  color: rgba(255, 255, 255, 3);
				}
		#plats-container.show .card {
		
			border-image: linear-gradient(#000000, #4d9f0c) 30;
			transition: transform 0.5s ease;
			cursor: pointer;
			background-color: transparent;
			border: none; 
		}
		
		.img-card {
		  height: 20vh;
		  width: 25vw;
		
		} #}
		
		
		/* .button {
		  display: flex;
		  justify-content: center;
		}
		
		.btn-link {
		  background-color: transparent;
		  border: 2px solid white;
		  color: white;
		  cursor: pointer;
		  text-decoration: none;
		  text-align: center;
		  text-transform: uppercase;
		
		}
		
		
		.btn-link:hover {
		  color: black;
		  background-color: white;
		}
		
		
		
		
		.description {
		  border: 2px solid rgb(179, 166, 166);
		  border-radius: 4px;
		}  */
		</style>
		{% endblock %}
		
		{# <div>
			<div class="bg"></div>
			<div class="bg bg2"></div>
			<div class="bg bg3"></div>
			<div class="content"><img class="content" src="image/logo.png"></div>
		
		
		</div> #}
		
		<main class="main ">
			<section class="myP">
				<div class="myH2"></div>
			<h1>
		
				<script src='js/slogan.js'></script>
			</h1> 
			</section>
		
			<div class="container w-100 position-relative d-flex">
				<div class="row d-flex ">
					
					
					<ul class="accordion-group" id="accordion" >
						{% for rubric in rubrics %}
						<div class="accordion-overlay cards" >
						<li >
							
							{# {% if rubric.rubrics %}   #}

							<a class="category-link"><h2>
								{{ rubric.label}}
							</h2>
							 {% if rubric.image %} 
								<img src="{{ rubric.image }}" alt="{{ rubric.label }}">
								{% endif %}	
							</a>
							{# {% endif %}	  #}
							
						</li>
					</div>
						 {% endfor %}
					 </ul>
					
					<
				</div>
			</div>
					
			
	
					{# <div class="accordion-overlay cards" >
						<li>
						{% for rubric in rubrics %}	
						
								<a >
								<h2>{{ rubric.label}}</h2>	
								<img src="{{ asset('image/rubric/') }}" >
		
		
									
									
								</a>
							
							
						</li>#}
					
					
					
		{# <button class="btn-primary p-1">Plats</button> #}
		
		
			
	
		
	
		
		
		
			{# <section>
				<h2>Nos rubriques</h2>
		
{# 		
		<div id="plats-container"
		class="container-plats position-relative">
		<div class="mb-3 d-block">
		
		<div class="col-12 col-md-6 p-3 mb-4 d-flex justify-content-center"> #}
		
		
			
		
		
		
		
		{# <img src="{{ asset(plat.image) }}" style=" object-fit: cover;"> #}
		
		
								{# <h5 class="card-title">{{ plat.libelle }}</h5>
								<p class="card-text">{{ plat.description }}</p> #}
							
		{# </div>	
		</div>
		</div> #}
	
		
				



				{# <div class="container-fluid mx-auto mt-12 p-6 bg-gray-100 shadow-lg rounded-xl">
					<h1 class="text-4xl font-bold text-gray-800 text-center mb-8">Rubriques</h1>
					<div class="card-wrapper justify-content-center  d-flex text-center mb-2">
						<div class="card-container">
						{% for rubric in rubrics %}
						<div class="cards rubric-nav justify-content-center bg-blue-200 text-white font-bold py-2 d m-4"></div>
								 {# onclick="showSubrubrics #
						<li>
							<a >
								<h2>{{ rubric.label}}</h2>
							</a>
						</li>
						 #}
						
							  {# <img class="card-img-top" src="holder.js/100px180/" alt="">
							  <div class="card-body">
								<h4 class="card-title">Title</h4>
								<p class="card-text">Text</p>
							  </div>
							
							</div>	#}
							{# {% if rubric.image %} 
								<img src="{{ rubric.image }}" alt="{{ rubric.label }}" class=" mx-auto justify-content-center h-32  mt-3">
							{% endif %}
							</div>
							{% endfor %}
							</div>
						</div> #}
			

						{# <aside class="social-sidebar">
							<a href="https://www.facebook.com" target="_blank" class="social-btn facebook" aria-label="Facebook">
							  <i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.twitter.com" target="_blank" class="social-btn twitter" aria-label="Twitter">
							  <i class="fab fa-twitter"></i>
							</a>
							<a href="https://www.instagram.com" target="_blank" class="social-btn instagram" aria-label="Instagram">
							  <i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.linkedin.com" target="_blank" class="social-btn linkedin" aria-label="LinkedIn">
							  <i class="fab fa-linkedin-in"></i>
							</a>
						  </aside> #}
						  

			
                            {# <div id="contentContainer" class="trans3d">
                                <section id="carouselContainer" class="trans3d">
											

                                    <div class="container container-carousel">
										{% for rubric in rubrics %} 
										{% for subrubric in rubric.rubrics %}
                                        <div id="carouselItem" class="carousel">
											
											  {% if rubric.rubrics %} 
											{% set total_subrubrics = rubric.rubrics|length %}
                                          
                                                {% set angle = loop.index0 * (360 / total_subrubrics) %}
											<div class="item cards carouselItem"
												 data-parent-id="{{ rubric.id }}"
												 style= "transform: rotateY('{{ angle }}deg) translateZ(300px);')">
												<a href="{{ path('app_products_by_rubric', {'slug': subrubric.slug}) }}">
													<h2 class="item">{{ subrubric.label }}</h2>
													{% if subrubric.image %}
														<img src="{{ subrubric.image }}" alt="{{ subrubric.label }}" style="object-fit: cover;">
													{% endif %}
													<p class="text-gray-600 mt-3">{{ subrubric.description }}</p>
												</a>
										    </div>
										
										{% endif %}
									    </div>
										{% endfor %}
										{% endfor %}
									</div>
                                        
                                 
							 <div class="next">
								<h5>Suivant</h5>
							</div>
							<div class="prev">
								<h5>Précédent</h5>
							</div>	 
								 </div>	
                                </section>
                             </div> #}
	{# </div>
	 </section>  #}
		
</main>

{% block javascripts %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script><script src='js/accordion.js'></script> 
<script>
	document.addEventListener('DOMContentLoaded', function () {
const links = document.querySelectorAll('.categorie-link');
const platsContainer = document.getElementById('plats-container');

links.forEach(link => {
link.addEventListener('click', function (event) {
event.preventDefault();
const categorieId = this.getAttribute('data-rubric.label');
fetchPlats(categorieId);
});
});

function fetchPlats(categorieId) {
fetch (`/get-plats-by-categorie/${categorieId}`).then(response => response.json()).then(data => {
platsContainer.innerHTML = '';
data.plats.forEach(plat => {
const platElement = document.createElement('div');
platElement.innerHTML = `
`;

platsContainer.appendChild(platElement);
});
platsContainer.classList.add('show');
}).catch(error => console.error('Error fetching plats:', error));
}
});
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	function showSubrubrics(rubricId) {
		const allItems = document.querySelectorAll('.carouselItem');
		const selectedItems = document.querySelectorAll(`.carouselItem[data-parent-id="${rubricId}"]`);
	
		// Cacher tous les éléments
		allItems.forEach(item => item.style.display = 'none');
	
		// Afficher uniquement les sous-rubriques associées
		selectedItems.forEach(item => item.style.display = 'block');
	
		// Réinitialiser la rotation
		currdeg = 0;
		gsap.to(".carousel", {
			duration: 1,
			rotationY: currdeg,
			ease: "expo.inOut"
		});
	}

	var w,
		container,
		carousel,
		item,
		itemLength,
		rY,
		radius;
	var rotationY = 0;

	$(document).ready(init);

	function init() {
		w = $(window);
		container = $('#contentContainer');
		carousel = $('#carouselContainer');
		item = $('.carouselItem');

		itemLength = item.length;
		rY = 360 / itemLength;
		radius = Math.round((170) / Math.tan(Math.PI / itemLength));

		// set container 3d props
		itemLength = item.length;
		 rY = 360 / itemLength;
		 radius = Math.round((container.width() / 2) / Math.tan(Math.PI / itemLength));
	
		 // set container 3d props
	    
		 gsap.set(container, {perspective: 1000});
		 gsap.set(carousel, {z: -(radius), transformOrigin: "center center " + -radius + "px"});



		// create carousel item props
		item.each(function (i) {
			var $item = $(this);
			gsap.set($item, {
				rotationY: rY * i,
				z: radius,
				transformOrigin: "50% 50% " + - radius + "px"
			});
		});

		// Initial animation
		gsap.fromTo(item, {
			autoAlpha: 0,
			scale: 0
		}, {
			duration: 1,
			autoAlpha: 1,
			scale: 1,
			stagger: 0,
			ease: "expo.inOut"
		});
	}



	// Rotation functions
	var currdeg = 0;

	$(".next").on("click", {
		d: "n"
	}, rotate);
	$(".prev").on("click", {
		d: "p"
	}, rotate);

	function rotate(e) {
		if (e.data.d == "n") {
			currdeg = currdeg + rY;
		}
		if (e.data.d == "p") {
			currdeg = currdeg - rY;
		}
		gsap.to(".carousel", {
			duration: 1,
			rotationY: currdeg,
			ease: "expo.inOut"
		});
	}

</script>
{% endblock %}
{% endblock %}

